<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thirtygames.zero.common.mapper.admintool.AdmEquipmentStatMapper">
	
	<select id="range" parameterType="int" resultType="com.thirtygames.zero.common.model.equipment.EquipmentStat">
        select * from EquipmentStat limit #{from}, #{length}
    </select>

	<select id="size" resultType="int">
        select count(*) from EquipmentStat
        <where>
			1=1
	        <if test="model.rules != null">			
				<foreach collection="model.rules" item="rule" index="index" separator="" open="" close="">
		           	and ${rule.field}
		           	<choose>
		           		<when test="rule.op == 'eq'"> = </when>
		           		<when test="rule.op == 'le'"> &lt;= </when>
		           		<when test="rule.op == 'ge'"> &gt;= </when>
		           	</choose> 
		           	#{rule.data}
		       	</foreach>
	       	</if>
	    </where>
    </select>
    
    <select id="selectEquipmentStatList" resultType="com.thirtygames.zero.common.model.equipment.EquipmentStat" parameterType="map">
    	select * from EquipmentStat
		where equipmentId = #{model.equipmentId}
		and isDel = 0
    </select>
</mapper>
