<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thirtygames.zero.common.mapper.admintool.AdmStageClearMapper">
    <insert id="save" parameterType="com.thirtygames.zero.common.model.admintool.AdminStageClear"
        keyProperty="clearKey" keyColumn="clearKey">
        insert into StageClear (
        	 clearKey, accountId, stageKey, clearMode, clearStep, clearProgress, exposedScenes)
        values (
        	#{clearKey}, #{accountId}, #{stageKey}, #{clearMode}, #{clearStep}, #{clearProgress}, #{exposedScenes}
		)
        on duplicate key update
        	clearKey = #{clearKey}, 
        	accountId = #{accountId},  
        	stageKey = #{stageKey}, 
        	clearMode = #{clearMode}, 
        	clearStep = #{clearStep}, 
        	clearProgress = #{clearProgress}, 
        	exposedScenes = #{exposedScenes} 
    </insert>
    
	<update id="update" parameterType="com.thirtygames.zero.common.model.admintool.AdminStageClear">
		update StageClear
		<trim prefix="SET" suffixOverrides=",">
        	<if test="clearKey != null">clearKey = #{clearKey},</if>   
        	<if test="accountId != null">accountId = #{accountId},</if>  
        	<if test="stageKey != null">stageKey = #{stageKey},</if>  
        	<if test="clearMode != null">clearMode = #{clearMode},</if>  
        	<if test="clearStep != null">clearStep = #{clearStep},</if>  
        	<if test="clearProgress != null">clearProgress = #{clearProgress},</if>  
        	<if test="exposedScenes != null">exposedScenes = #{exposedScenes},</if>  
		</trim>
		where clearKey = #{clearKey}
	</update>

    <select id="get" parameterType="map" resultType="com.thirtygames.zero.common.model.admintool.AdminStageClear">
        select 
        	clearKey, accountId, stageKey, clearMode, clearStep, clearProgress, exposedScenes, date_format(modYmdt, '%Y-%m-%d %H:%i:%s') as modYmdt
        from StageClear where clearKey = #{id}
    </select>

    <select id="search" parameterType="com.thirtygames.zero.common.model.admintool.AdminStageClear" resultType="com.thirtygames.zero.common.model.admintool.AdminStageClear">
        select 
        	clearKey, accountId, stageKey, clearMode, clearStep, clearProgress, exposedScenes, date_format(modYmdt, '%Y-%m-%d %H:%i:%s') as modYmdt
        from StageClear
		<where>
			1=1
			<if test="model.rules != null">			
				<foreach collection="model.rules" item="rule" index="index" separator="" open="" close="">
		           	and ${rule.field}
		           	<choose>
		           		<when test="rule.op == 'eq'"> = </when>
		           		<when test="rule.op == 'le'"> &lt;= </when>
		           		<when test="rule.op == 'ge'"> &gt;= </when>
		           	</choose> 
		           	#{rule.data}
		       	</foreach>
	       	</if>
       	</where>
		<if test="length &gt; 0">limit #{from}, #{length}</if>
    </select>
    
    <select id="excel" parameterType="com.thirtygames.zero.common.model.admintool.AdminStageClear" resultType="com.thirtygames.zero.common.model.admintool.AdminStageClear">
        select 
        	clearKey, accountId, stageKey, clearMode, clearStep, clearProgress, exposedScenes, date_format(modYmdt, '%Y-%m-%d %H:%i:%s') as modYmdt
        from StageClear
		<where>
			1=1
			<if test="model.rules != null">			
				<foreach collection="model.rules" item="rule" index="index" separator="" open="" close="">
		           	and ${rule.field}
		           	<choose>
		           		<when test="rule.op == 'eq'"> = </when>
		           		<when test="rule.op == 'le'"> &lt;= </when>
		           		<when test="rule.op == 'ge'"> &gt;= </when>
		           	</choose> 
		           	#{rule.data}
		       	</foreach>
	       	</if>
       	</where>
    </select>
    
    <select id="range" parameterType="int" resultType="com.thirtygames.zero.common.model.admintool.AdminStageClear">
        select
        	clearKey, accountId, stageKey, clearMode, clearStep, clearProgress, exposedScenes, date_format(modYmdt, '%Y-%m-%d %H:%i:%s') as modYmdt
		from StageClear limit #{from}, #{length}
    </select>
    
    <update id="delete" parameterType="String">
    	delete from StageClear 
    	where clearKey = #{id}
    </update>
    
    <select id="size" resultType="int" parameterType="com.thirtygames.zero.common.model.admintool.AdminStageClear">
        select count(*) from StageClear
        <where>
			1=1
			<if test="model.rules != null">			
				<foreach collection="model.rules" item="rule" index="index" separator="" open="" close="">
		           	and ${rule.field}
		           	<choose>
		           		<when test="rule.op == 'eq'"> = </when>
		           		<when test="rule.op == 'le'"> &lt;= </when>
		           		<when test="rule.op == 'ge'"> &gt;= </when>
		           	</choose> 
		           	#{rule.data}
		       	</foreach>
	       	</if>
       	</where>
    </select>
</mapper>