<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thirtygames.zero.common.mapper.admintool.AdmShopItemLogMapper">
	<select id="search" parameterType="map" resultType="com.thirtygames.zero.common.model.log.ShopItemLog">
		select * from ShopItemLog
    	where 1 = 1
    	<if test="model.rules != null">			
			<foreach collection="model.rules" item="rule" index="index" separator="" open="" close="">
	           	and ${rule.field}
	           	<choose>
	           		<when test="rule.op == 'eq'"> = </when>
	           		<when test="rule.op == 'le'"> &lt;= </when>
	           		<when test="rule.op == 'ge'"> &gt;= </when>
	           	</choose> 
	           	#{rule.data}
	       	</foreach>
      	</if>
       <if test="length &gt; 0">limit #{from}, #{length}</if>
	</select>	
	
	<select id="excel" parameterType="map" resultType="com.thirtygames.zero.common.model.log.ShopItemLog">
		select * from ShopItemLog
    	where 1 = 1
    	<if test="model.rules != null">			
			<foreach collection="model.rules" item="rule" index="index" separator="" open="" close="">
	           	and ${rule.field}
	           	<choose>
	           		<when test="rule.op == 'eq'"> = </when>
	           		<when test="rule.op == 'le'"> &lt;= </when>
	           		<when test="rule.op == 'ge'"> &gt;= </when>
	           	</choose> 
	           	#{rule.data}
	       	</foreach>
      	</if>
	</select>	
	
	<select id="range" parameterType="int" resultType="com.thirtygames.zero.common.model.log.ShopItemLog">
        select * from ShopItemLog limit #{from}, #{length}
    </select>
    
    <select id="size" parameterType="map" resultType="int">
		select count(*) from ShopItemLog
    	where 1 = 1
    	<if test="model.rules != null">			
			<foreach collection="model.rules" item="rule" index="index" separator="" open="" close="">
	           	and ${rule.field}
	           	<choose>
	           		<when test="rule.op == 'eq'"> = </when>
	           		<when test="rule.op == 'le'"> &lt;= </when>
	           		<when test="rule.op == 'ge'"> &gt;= </when>
	           	</choose> 
	           	#{rule.data}
	       	</foreach>
       	</if>
	</select>
	
	
	<delete id="delete">
		delete from ShopItemLog where logKey = #{id}
	</delete>
</mapper>
