<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thirtygames.zero.common.mapper.meta.UnitLimitExceedMetaMapper">

    <insert id="save" parameterType="com.thirtygames.zero.common.model.meta.UnitLimitExceed" keyColumn="level">
        INSERT INTO UnitLimitExceed(level, limitExceedTime, gold, unlockKey, timeToCashRatio) 
        VALUES (#{level}, #{limitExceedTime}, #{gold}, #{unlockKey}, #{timeToCashRatio}) 
        on duplicate key update
        	level = #{level}, 
        	limitExceedTime = #{limitExceedTime}, 
        	gold = #{gold}, 
        	unlockKey = #{unlockKey},
        	timeToCashRatio = #{timeToCashRatio}
    </insert>
    
    
	
	<select id="range" parameterType="int" resultType="com.thirtygames.zero.common.model.meta.UnitLimitExceed">
		select
			level, limitExceedTime, gold, unlockKey, timeToCashRatio, modYmdt, modId 
		from UnitLimitExceed
	</select>
    
	
	<select id="get" resultType="com.thirtygames.zero.common.model.meta.UnitLimitExceed">
		select
			level, limitExceedTime, gold, unlockKey, timeToCashRatio, modYmdt, modId 
		from UnitLimitExceed
		where level = #{id}
	</select>

</mapper>