<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thirtygames.zero.common.mapper.meta.WellcomePresentMapper">

	<select id="getListByLang" resultType="com.thirtygames.zero.common.model.meta.WellcomePresent">
		select
		 	<choose>
				<when test="lang == 'ko'">w.msg_ko</when>
				<when test="lang == 'en'">w.msg_en</when>				
				<otherwise>w.msg_en</otherwise>
			</choose> msg,
			w.* 
		from WellcomePresent w
		order by w.minuteFromLastLogin desc
	</select>

	<select id="range" resultType="com.thirtygames.zero.common.model.meta.WellcomePresent">
		select w.* from WellcomePresent w
		order by w.minuteFromLastLogin asc
	</select>
	
</mapper>